{% extends "JspAdminBundle::layout.html.twig" %}

{% block corps %}
<h1>UTILISATEURS</h1>
<form method="post" {{ form_enctype(form) }} role="form">
	<div class="form-group">
			{% if form_errors(form.plainPassword) != '' %}<div class="alert alert-danger" role="alert">{{ form_errors(form.plainPassword) }}</div>{% endif %}
			<div class="input-group">
			<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
			{{ form_widget(form.plainPassword, { 'attr': {'class': 'form-control', 'placeholder': 'Nouveau Mot de passe'} }) }}
			</div>
			<div class="btn-group spacer">
				<a href="#" class="btn btn-primary link-password" id="confirm">Utiliser le mot de passe</a>
				<a href="#" class="btn btn-info link-password" id="generate">Générer un mot de passe</a>
			</div>
			
			<div class="alert alert-info" id="random" role="alert">
			</div>
	</div>
	
	{{ form_rest(form) }}
	<input type="submit" class="btn btn-primary" />
</form>
{% endblock %}

{% block javascript %}
	{{ parent() }}
	<script type="text/javascript">
	$.extend({
	  password: function (length, special) {
		var iteration = 0;
		var password = "";
		var randomNumber;
		if(special == undefined){
			var special = false;
		}
		while(iteration < length){
			randomNumber = (Math.floor((Math.random() * 100)) % 94) + 33;
			if(!special){
				if ((randomNumber >=33) && (randomNumber <=47)) { continue; }
				if ((randomNumber >=58) && (randomNumber <=64)) { continue; }
				if ((randomNumber >=91) && (randomNumber <=96)) { continue; }
				if ((randomNumber >=123) && (randomNumber <=126)) { continue; }
			}
			iteration++;
			password += String.fromCharCode(randomNumber);
		}
		return password;
	  }
	});

	$(document).ready(function() {
	
	$('#random').hide();
 
    $('.link-password').click(function(e){
 
        // First check which link was clicked
        linkId = $(this).attr('id');
        if (linkId == 'generate'){
 
            // If the generate link then create the password variable from the generator function
            password = $.password(6,false);
 
            // Empty the random tag then append the password and fade In
            $('#random').hide().append(password).fadeIn('slow');
 
            // Also fade in the confirm link
            $('#confirm').fadeIn('slow');
        } else {
            // If the confirm link is clicked then input the password into our form field
            $('#jsp_adminbundle_userchangepassword_plainPassword').val(password);
            // remove password from the random tag
            $('#random').empty();
			$('#random').hide();
            // Hide the confirm link again
            $(this).hide();
        }
        e.preventDefault();
    });
});</script>
{% endblock %}
