<!DOCTYPE html>

<meta charset="utf-8">
<title>SDIS CHABLAIS - INFOS</title>

<header>
    <span class="brand"><img src="{{ asset('img/logoTv.png') }}"/> SDIS CHABLAIS</span>
    <div class="pull-right">
        <img src="{{ asset('img/tvReceptionAlarmeRed.png') }}" id="alarme"/>
        <img src="{{ asset('img/tvReceptionConnectedRed.png') }}" id="connected"/>
        <span id="heure">{{ "now"|date("H:i") }}</span>
    </div>
</header>

<section>
    <h2>PROCHAINS EXERCICES</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Horaire</th>
            <th>Exercice</th>
            <th>Concernés</th>
        </tr>
       {% for evenement in evenements %}
        <tr>
            <td>{{ evenement.date|date('d/m/Y') }}</td>
            <td>{{ evenement.date|date('H\\hi') }} -> {{ evenement.dateFin|date('H\\hi') }}</td>
            <td><em>{{ evenement.titre }}</em></td>
            <td>{{ evenement.description }}</td>
        </tr>
        {% endfor %}
    </table>
</section>

{% if utilisations is not empty %}
<section>
    <h2>UTILISATION DE LA CASERNE</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Horaire</th>
            <th>Motif</th>
            <th>Requérant</th>
        </tr>
       {% for utilisation in utilisations %}
        <tr>
            <td>{{ utilisation.debut|date('d/m/Y') }}</td>
            <td>{{ utilisation.debut|date('H\\hi') }} -> {{ utilisation.fin|date('H\\hi') }}</td>
            <td><em>{{ utilisation.motif }}</em></td>
            <td>{{ utilisation.requerant }}</td>
        </tr>
        {% endfor %}
    </table>
</section>
{% endif %}

<section>
    <h2>ROULAGE VSS</h2>
    <table>
        <tr>
            <th>Semaine</th>
            <th>Chauffeur 1</th>
            <th>Chauffeur 2</th>
        </tr>
       {% for piquetVss in piquetsVss %}
        <tr>
            <td>{{ piquetVss.debut|date('d/m/y') }} -> {{ piquetVss.fin|date('d/m/y') }}</td>
            <td>{{ piquetVss.chauffeur1 }}</td>
            <td>{{ piquetVss.chauffeur2 }}</td>
        </tr>
        {% endfor %}
    </table>
</section>

<section>
    <h2>PIQUETS</h2>
    <table class="piquets">
        <tr>
            <th>Date</th>
            <th>Serv.</th>
            <th>Renf.</th>
            <th>Chef d'intervention</th>
            <th>Chef de groupe</th>
            <th>Chauffeur</th>
            <th>Intervenant</th>
        </tr>
       {% for piquet in piquets %}
        <tr>
            <td>{{ piquet.debut|date('d/m') }} -> {{ piquet.fin|date('d/m') }}</td>
            <td class="{{ piquet.sectionService }}">{{ piquet.sectionService }}</td>
            <td class="{{ piquet.sectionRenfort }}">{{ piquet.sectionRenfort }}</td>
			{% if piquet.coachOfficier != null %} 
				<td style="font-size: 0.8em;">{{ piquet.chefIntervention }}<br/>{{ piquet.coachOfficier }}</td>
			{% else %}
				<td>{{ piquet.chefIntervention }}</td>
			{% endif %}
            <td>{{ piquet.chefGroupe }}</td>
            <td>{{ piquet.chauffeur }}</td>
            <td>{{ piquet.intervenant }}</td>
        </tr>
        {% endfor %}
    </table>
</section>

<section>
    <h2>RESERVATIONS DES VEHICULES</h2>
    <p class="vhc">{% for vehicules in typesVehicules %}<span class="label label-{{ vehicules.id }}">{{ vehicules.nom }}</span>{% endfor %}</p>
    {{ render(controller("SdisAffichageBundle:Calendrier:Afficher")) }}
</section>

{% for communication in communications %}
    <section>
        <h2>{{ communication.titre|upper }}</h2>
        <p>{{ communication.contenu|raw }}</p>
    </section>
{% endfor %}

<div id="footer">
    <span>DERNIERE MISE A JOUR : {{ "now"|date("d/m H:i") }}</span>
    <div class="pull-right">V 1.0 - &copy; SDIS CHABLAIS</div>
</div>

<!-- Your Style -->
<!-- Define the style of your presentation -->
<style type="text/css">
    {% for section in sections %}
    .{{ section.numero }} {
        background-color: {{ section.couleur }};
    }
    {% endfor %}
    .piquets {
        font-size: 0.8em;
    }
    .label {
        border-radius: 0.25em;
        display: inline;
        font-size: 0.6em;
        padding: 0.2em 0.4em 0.2em;
        margin: 0.2em;
    }
    {% for vehicules in typesVehicules %}
    .label-{{ vehicules.id }} {
        background-color: {{ vehicules.color }} !important;
        color: {{ vehicules.textColor }} !important;
        border: none !important;
    }
    {% endfor %}
</style>

<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,700italic,500,400italic,500italic,900,900italic' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="{{ asset('css/tv.css') }}" type="text/css"/>
<link rel="stylesheet" href="{{ asset('css/fullcalendar.min.css') }}" type="text/css"/>

<div id="progress-bar"></div>

<script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript" src="{{ asset('js/tv.js') }}"></script>