{% extends "::layoutSDIS.html.twig" %}

{% form_theme form _self %}

{% block radio_widget %}
{% spaceless %}
    <div class="radio-inline">
        <label for="{{ id }}" class="required"><input type="radio" {{ block('widget_attributes') }} required="required" {% if value is defined %} value="{{ value }}"{% endif %} />{{ label|trans({}, translation_domain) }}</label>
    </div>
{% endspaceless %}
{% endblock radio_widget %}

{% block corps %}
<h1>CONTACT</h1>
<div class="row">
<div class="col-md-8">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Formulaire de contact</h3>
  </div>
  <div class="panel-body">
	<form method="post" {{ form_enctype(form) }} role="form">
       <div class="form-group">
			{{ form_label(form.destinataire, "Destinataire") }}
			{% if form_errors(form.destinataire) != '' %}<div class="alert alert-danger" role="alert">{{ form_errors(form.destinataire) }}</div>{% endif %}
			<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-user"></span>
			{{ form_widget(form.destinataire, { 'attr': {'class': 'form-control'} }) }}
			</div>
		</div>
        <div class="form-group">
			{{ form_label(form.mail, "E-Mail") }}
			{% if form_errors(form.mail) != '' %}<div class="alert alert-danger" role="alert">{{ form_errors(form.mail) }}</div>{% endif %}
			<div class="input-group">
			<span class="input-group-addon">@</span>
			{{ form_widget(form.mail, { 'attr': {'class': 'form-control'} }) }}
			</div>
		</div>
		<div class="form-group">
			{{ form_label(form.message, "Message") }}
			{% if form_errors(form.message) != '' %}<div class="alert alert-danger" role="alert">{{ form_errors(form.message) }}</div>{% endif %}
			<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-envelope"></span>
			{{ form_widget(form.message, { 'attr': {'class': 'form-control', 'rows': '10'} }) }}
			</div>
		</div>
			
		{{ form_rest(form) }}
		<input type="submit" class="btn btn-primary" />
	</form>
	</div>
	</div>
	</div>
	<div class="col-md-4">
	<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Adresse Postale</h3>
  </div>
  <div class="panel-body">
    SDIS Chablais <br/>
	Ch. de Marjolin 91 <br/>
	1860 Aigle<br/><br/><br/>	
	<span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> 024 / 466 12 18 <br/>
	<span class="glyphicon glyphicon-time" aria-hidden="true"></span> 08h00 - 12h00<br/>
  </div>
</div>
</div>
</div>
{% endblock %}
