{% extends '::layoutAdmin.html.twig' %}

{% block corps %}

<h1>PIQUETS</h1>
		<form method="post" {{ form_enctype(form) }} role="form">
			{{ form_widget(form) }}
			<div class="btn-group">
				<input type="submit" class="btn btn-primary" value="Créer"/>
			</div>
		</form>
{% endblock %}

{% set dates = ['sdis_affichagebundle_piquets_debut_date', 'sdis_affichagebundle_piquets_fin_date'] %}
{% set times = ['sdis_affichagebundle_piquets_debut_time', 'sdis_affichagebundle_piquets_fin_time'] %}

{% block javascript %}
    {{ parent() }}
    {% include "::datepicker.js.twig" %}
    
    <script type="text/javascript">
        $(document).ready(function() {
            var cilabel = $("label[for=sdis_affichagebundle_piquets_chefIntervention]");
            var lienAfficherTout = $('<span style="padding-left:10px;"><a href="#" class="label label-warning">Afficher tous</a></span>');
            cilabel.append(lienAfficherTout);
            lienAfficherTout.click(function(e) {
                e.preventDefault();
                var $liste = $("#sdis_affichagebundle_piquets_chefIntervention");
                $liste.empty();
                $.getJSON( "{{ path('sdis_personnel_liste_json') }}", function(data) {
                    $.each(data, function( key, val) {
                        $liste.append('<option value="' + val +'">' + key + '</option>');
                        return true;
                    });
                });
                $("form").append('<input type="hidden" name="sdis_tous" id="sdis_tous" value="true"/>');
            });
            
            var cilabel = $("label[for=sdis_affichagebundle_piquets_chefGroupe]");
            var lienAfficherTout = $('<span style="padding-left:10px;"><a href="#" class="label label-warning">Afficher tous</a></span>');
            cilabel.append(lienAfficherTout);
            lienAfficherTout.click(function(e) {
                e.preventDefault();
                var $liste = $("#sdis_affichagebundle_piquets_chefGroupe");
                $liste.empty();
                $.getJSON( "{{ path('sdis_personnel_liste_json') }}", function(data) {
                    $.each(data, function( key, val) {
                        $liste.append('<option value="' + val +'">' + key + '</option>');
                        return true;
                    });
                });
                $("form").append('<input type="hidden" name="sdis_tous" id="sdis_tous" value="true"/>');
            });
            
            var cilabel = $("label[for=sdis_affichagebundle_piquets_chauffeur]");
            var lienAfficherTout = $('<span style="padding-left:10px;"><a href="#" class="label label-warning">Afficher tous</a></span>');
            cilabel.append(lienAfficherTout);
            lienAfficherTout.click(function(e) {
                e.preventDefault();
                var $liste = $("#sdis_affichagebundle_piquets_chauffeur");
                $liste.empty();
                $.getJSON( "{{ path('sdis_personnel_liste_json') }}", function(data) {
                    $.each(data, function( key, val) {
                        $liste.append('<option value="' + val +'">' + key + '</option>');
                        return true;
                    });
                });
                $("form").append('<input type="hidden" name="sdis_tous" id="sdis_tous" value="true"/>');
            });
            
            var cilabel = $("label[for=sdis_affichagebundle_piquets_intervenant]");
            var lienAfficherTout = $('<span style="padding-left:10px;"><a href="#" class="label label-warning">Afficher tous</a></span>');
            cilabel.append(lienAfficherTout);
            lienAfficherTout.click(function(e) {
                e.preventDefault();
                var $liste = $("#sdis_affichagebundle_piquets_intervenant");
                $liste.empty();
                $.getJSON( "{{ path('sdis_personnel_liste_json') }}", function(data) {
                    $.each(data, function( key, val) {
                        $liste.append('<option value="' + val +'">' + key + '</option>');
                        return true;
                    });
                });
                $("form").append('<input type="hidden" name="sdis_tous" id="sdis_tous" value="true"/>');
            });
        });
    </script>
{% endblock %}