<div class="droiteContainer">
	<h1><a href="{{ path('jsp_evenements') }}">PROCHAIN EVENEMENT</a></h1>
	<div class="date"><p class="mois">{{ mois }}</p><p class="jour">{{ jour }}</p></div>
	<p class="texte">{{ titre }}<br/>{{ description }}<br/>{{ heureDebut }} -> {{ heureFin }}</p>
</div>
