{% extends "::layoutSDIS.html.twig" %}

{% block corps %}
<h1>LES VÉHICULES</h1>
<h3>LOURDS</h3>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tonne-Pompe I | Floki 61</h3>
            </div>
            <div class="panel-body">
                    <span class="thumbnail"><img src="{{ asset('img/vhc/61.jpg') }}" alt="Floki 61"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Tonne-Pompe II | Floki 62</h3>
            </div>
            <div class="panel-body">
                    <span class="thumbnail"><img src="{{ asset('img/vhc/62.jpg') }}" alt="Floki 62"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Echelle Automobile | Floki 68</h3>
            </div>
            <div class="panel-body">
                    <span class="thumbnail"><img src="{{ asset('img/vhc/68.jpg') }}" alt="Floki 68"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Secours Routiers | Floki 71</h3>
            </div>
            <div class="panel-body">
                    <span class="thumbnail"><img src="{{ asset('img/vhc/71.jpg') }}" alt="Floki 71"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Vehicule Modules | Floki 81</h3>
            </div>
            <div class="panel-body">
                    <span class="thumbnail"><img src="{{ asset('img/vhc/81.jpg') }}" alt="Floki 81"></span>
                    <p>Avec les berces : DCH, Matériel et Tuyaux</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Transport Personnes et Matériel | Floki 91</h3>
            </div>
            <div class="panel-body">
                    <span class="thumbnail"><img src="{{ asset('img/vhc/91.jpg') }}" alt="Floki 91"></span>
                    <p>Dispose également de cellules inondation et éclairage</p>
            </div>
        </div>
    </div>
</div>

<h3>LEGERS</h3>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Voiture d'officier | Floki 50</h3>
            </div>
            <div class="panel-body">
                    <span class="thumbnail"><img src="{{ asset('img/vhc/50.jpg') }}" alt="Floki 50"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Pick-up | Floki 73</h3>
            </div>
            <div class="panel-body">
                    <span class="thumbnail"><img src="{{ asset('img/vhc/73.jpg') }}" alt="Floki 73"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Jeep | Floki 72</h3>
            </div>
            <div class="panel-body">
                    <span class="thumbnail"><img src="{{ asset('img/vhc/72.jpg') }}" alt="Floki 72"></span>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Véhicule de première intervention</h3>
            </div>
            <div class="panel-body">
                    <span class="thumbnail"><img src="{{ asset('img/vhc/sacrifice.jpg') }}" alt=""></span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
